/* create the flipping style */

.FlipCard {
  position: relative;
  /* width: 100%; */
  width: 14.5vw;
  height: 14.5vw;
  perspective: 1000px;
  margin: 0.5vw;
}

.FlipCard .ImageCard {
  width: 100%;
  height: 100%;
}

.FlipCard .TitleCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FlipCard-rotator {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.FlipCard-rotator.flipped {
  transform: rotateY(180deg);
}

.FlipCard-front, .FlipCard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white; /* styling */
  
  border-radius: 1em;
  overflow: hidden;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.FlipCard-back {
  background-color: red; /* styling */
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
